@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(96.22% 0.0569 95.61);
  --secondary-background: oklch(100% 0 0);
  --main: oklch(84.08% 0.1725 84.2);
  --main-foreground: oklch(0% 0 0);
  --foreground: oklch(0% 0 0);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);

  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --border-radius: 5px;
  --heading-font-weight: 700;
  --base-font-weight: 500;

  --chart-1: #FFBF00;
  --chart-2: #0099FF;
  --chart-3: #FF7A05;
  --chart-4: #00D696;
  --chart-5: #7A83FF;
}

@theme inline {
  --color-main: var(--main);
  --color-main-foreground: var(--main-foreground);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-base: var(--border-radius);

  --shadow-shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);

  --translate-x-boxShadowX: var(--box-shadow-x);
  --translate-y-boxShadowY: var(--box-shadow-y);
  --translate-x-reverseBoxShadowX: var(--reverse-box-shadow-x);
  --translate-y-reverseBoxShadowY: var(--reverse-box-shadow-y);

  --font-heading: var(--heading-font-weight);
  --font-base: var(--base-font-weight);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-[var(--base-font-weight)];
  }
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --box-shadow-x: 0px;
    --box-shadow-y: 0px;
    --reverse-box-shadow-x: 0px;
    --reverse-box-shadow-y: 0px;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
